h1 {
    font-family: "Lucida Grande", "Georgia";
    padding-bottom: 20px;
}

p {
    font-family: "Lucida Sans";
}

.btn-disable {
    display:inline-block;
    pointer-events: none;
}

.space_top {
    margin-top: 130px;
}

.list_no_style {
    list-style: none outside none;
}

.list_style {
    padding-left: 20px;
    list-style: circle inside;
}

.img_left {
    float: right;
}

.logo {
    border: solid medium black;
}

.margin_sides {
  margin: 10px 10px;
}

.right{
  float: right;
}

.compact {
    margin: auto 100px;
    /*
    margin-left: 80px;
    margin-right: 80px;
     */
}

.center_block{

    float: none;
    margin: 0 auto;
}


.fixture_details{
    padding-bottom: 10px;
}
